[submodule "asset-management-fe"]
	path = asset-management-fe
	url = https://github.com/NashTech-Rookie-Online-Asset-Management/asset-management-fe
[submodule "asset-management-be"]
	path = asset-management-be
	url = https://github.com/NashTech-Rookie-Online-Asset-Management/asset-management-be
[submodule "automation-testing"]
	path = automation-testing
	url = git@github.com:NashTech-Rookie-Online-Asset-Management/automation-testing.git
